<div class="container" id="start-page">
  <h3 class="grey-small-text">
    <span class="start color-red">IKIGAI</span>
    is the japanese concept by which, at the intersection of
    <span class="start color-green-light">what you love</span>,
    <span class="start color-blue">what you are good at</span>,
    <span class="start color-orange"> what the world needs</span>
    and
    <span class="start color-violet">what you get recognition for</span>, you can fund your true purpose in life;
    <span class="start color-green">your IKIGAI</span>
  </h3>
  <h3 class="grey-small-text">
    <span class="start color-green-light">Following 8 simple steps</span>, we invite you to a journey of self-reflection to help
    <span class="start color-blue">you find your true purpose in life</span>
  </h3>
  <button class="button" routerLink="/step/1">I'm ready!</button>
</div>
