@import "../../../common/sass/colors";

.steps {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 4.5em;
    font-weight: 300;
    text-align: center;
    color: $grey;

    &-number {
      font-size: 0.72em;
      font-weight: 400;
    }

    &-text {
      font-size: 1em;
    }
  }

  &__subtitle {
    font-size: 3.25em;
    font-weight: 300;
    text-align: center;
  }
}
