<div class="ikig">
  <div class="container ikigai-content">
    <div class="ikigai-title">
      <div>Hi {{ name }}, this is your
        <span class="og-ikigai">IKIGAI</span>
      </div>
      <div class="xs-title">click on the different areas to see & edit the details</div>
    </div>

    <div class="grid-container">

      <div class="grid-item mission">
        <a [routerLink]="['/step/5/edit']">Your
          <span class="cap-green">MISSION</span>
        </a>
      </div>

      <div class="grid-item love">
        <a [routerLink]="['/step/2/edit']">What you
          <span class="cap-orange">LOVE</span>
        </a>
      </div>
      <div class="grid-item passion">
        <a [routerLink]="['/step/3/edit']">Your
          <span class="cap-green">PASSION</span>
        </a>
      </div>
      <div class="grid-item needs">
        <a [routerLink]="['/step/4/edit']">What the world
          <span class="cap-orange">NEEDS</span>
        </a>
      </div>
      <div class="grid-item"></div>
      <div class="grid-item good">
        <a [routerLink]="['/step/1/edit']">What are you
          <span class="cap-orange">GOOD</span> at</a>
      </div>
      <div class="grid-item vocation">
        <a [routerLink]="['/step/7/edit']">Your
          <span class="cap-green">VOCATION</span>
        </a>
      </div>
      <div class="grid-item recognition">
        <a [routerLink]="['/step/6/edit']">What you get
          <span class="cap-orange">RECOGNITION</span> for</a>
      </div>
      <div class="grid-item profession">
        <a [routerLink]="['/step/8/edit']">Your
          <span class="cap-green">PROFESSION</span>
        </a>
      </div>

    </div>
  </div>
</div>
