.all-set-content {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.all-set {
  width: 33%;
  font-size: 4.5em;
  font-weight: 300;
  font-style: italic;
  color: var(--white);
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}
